<!-- Post Content-->
<!-- <article class="mb-4" *ngIf="games">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div *ngFor="let game of games.results" class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="section-heading">{{game.name}}</h2>
                <img class="img-fluid" src="{{game.background_image}}" alt="{{game.slug}}" />
                <div class="platforms-content">
                    <div *ngFor="let platform of game.platforms">
                        <ng-container *ngFor="let img of platform.platform.image">
                            <img src="{{img}}">
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article> -->