<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <h2 class="section-heading">Nada como um gostinho de fantasia</h2>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Ashiok</a>
                    on Abril 04, 2023
                </p>
                <p>
                    A história de Diablo 4 começa vinte anos após os eventos de Diablo 3. O mundo de Santuário foi
                    devastado pela guerra
                    entre anjos e demônios, deixando os humanos em um estado de desespero e desesperança. Muitas das
                    grandes cidades e
                    civilizações foram destruídas e as pessoas vivem com medo constante das hordas de demônios que
                    vagueiam pelo mundo.
                </p>
                <p>
                    Nesse cenário de desolação e caos, três personagens diferentes se encontram e decidem se unir para
                    enfrentar o mal
                    que ameaça a sobrevivência da humanidade.
                </p>
                <p>
                    A primeira personagem é Lilith, uma poderosa bruxa que foi banida do Inferno há muito tempo. Ela
                    retorna a Santuário
                    em busca de um objeto antigo e poderoso que pode ajudá-la a recuperar seu lugar no reino demoníaco.
                    No entanto, ao
                    chegar em Santuário, ela descobre que a situação é pior do que ela imaginava e decide usar seus
                    poderes para ajudar
                    a salvar o mundo.
                </p>
                <p>
                    A segunda personagem é um bárbaro, cujo clã foi dizimado pelos demônios. Ele busca vingança contra
                    aqueles que
                    mataram sua família e amigos e, ao longo do caminho, descobre a verdadeira natureza do conflito
                    entre anjos e
                    demônios.
                </p>
                <p>
                    A terceira personagem é uma sacerdotisa da Igreja Zakarum, que se sente frustrada com a falta de
                    ação da igreja em
                    relação à crise que o mundo está enfrentando. Ela abandona a igreja e parte em uma jornada para
                    descobrir a verdade
                    sobre a guerra e encontrar uma maneira de acabar com ela.
                </p>
                <p>
                    À medida que as três personagens viajam pelo mundo de Santuário, enfrentam muitos desafios e
                    inimigos, desde
                    demônios comuns até chefes poderosos. No entanto, eles também descobrem pistas importantes sobre a
                    verdadeira causa
                    da guerra e percebem que devem trabalhar juntos para impedir que o mal triunfe sobre o mundo.
                </p>
                <p>
                    No final, as três personagens enfrentam o maior desafio de suas vidas: confrontar o próprio Diabo.
                    Com a ajuda de
                    aliados inesperados e de sua própria coragem e habilidade, eles lutam contra o mal supremo e
                    conseguem salvar o
                    mundo de Santuário da destruição total.
                </p>

                <!-- <blockquote class="blockquote">The dreams of yesterday are the hopes of today and the reality of
                    tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far
                    too little for the next ten.</blockquote>


                <a href="#!"><img class="img-fluid" src="assets/img/post-sample-image.jpg" alt="..." /></a>
                <span class="caption text-muted">To go places and do things that have never been done before – that’s
                    what living is all about.</span>

                <p>
                    Placeholder text by
                    <a href="http://spaceipsum.com/">Space Ipsum</a>
                    &middot; Images by
                    <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                </p> -->
            </div>
        </div>
    </div>
</article>