<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <iframe width="100%" height="360" src="https://www.youtube.com/embed/b7BlzLBfcQI" frameborder="0"
                    allowfullscreen></iframe>

                <h2 class="section-heading">Diablo 4: O que esperar do novo jogo de RPG de ação da Blizzard?</h2>

                <p class="post-meta">
                    Posted by
                    <a href="#!">Ashiok</a>
                    on Abril 04, 2023
                </p>

                <p> Com data prevista para <b>6 de junho de 2023.</b></p>
                <p>
                    <b>Diablo 4</b> é um jogo de RPG de ação desenvolvido pela
                    Blizzard Entertainment, e é a quarta entrada na
                    série Diablo. O jogo se passa em um mundo sombrio de fantasia, onde os jogadores enfrentam demônios
                    e outros monstros enquanto exploram masmorras geradas aleatoriamente e avançam na história do jogo.
                    O jogo apresenta três classes iniciais jogáveis: Bárbaro, Feiticeira e Druida, cada uma com
                    habilidades e estilos de jogo únicos. O jogo também terá um modo multiplayer online, onde os
                    jogadores podem formar grupos e lutar contra inimigos juntos.
                </p>
                <p>
                    Embora ainda não tenha sido lançado, o jogo tem sido altamente antecipado por fãs da série Diablo e
                    de RPGs de ação em geral. Os trailers e imagens do jogo mostram gráficos impressionantes e uma
                    atmosfera sombria e assustadora, e a jogabilidade parece oferecer um combate divertido e desafiador.
                    No entanto, é importante lembrar que até que o jogo seja lançado e avaliado por jogadores e
                    críticos, não há como saber com certeza se será um sucesso ou não.
                </p>
                <p>
                    Em resumo, Diablo 4 é um jogo altamente antecipado que promete oferecer um mundo sombrio e
                    desafiador para os jogadores explorarem e lutar. No entanto, apenas o tempo dirá se ele cumprirá as
                    expectativas dos fãs da série e dos jogadores em geral.
                    A história de Diablo 4 começa vinte anos após os eventos de Diablo 3. O mundo de Santuário foi
                    devastado pela guerra
                    entre anjos e demônios, deixando os humanos em um estado de desespero e desesperança. Muitas das
                    grandes cidades e
                    civilizações foram destruídas e as pessoas vivem com medo constante das hordas de demônios que
                    vagueiam pelo mundo.
                </p>

            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <h2 class="section-heading">Diablo IV anuncia data de download para acesso antecipado e Beta Aberto</h2>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Ashiok</a>
                    on March 01, 2023
                </p>
                <p><b>Blizzard</b> irá realizar este mês dois testes para o aguardado Diablo IV, sendo o primeiro deles
                    dedicado aos jogadores que adquiriam o título na pré-venda e o segundo sendo um teste aberto para
                    todos os jogadores.</p>
                <p>Esta semana, a desenvolvedora revelou as datas de download antecipado para quem tiver interesse em
                    participar dos testes sem ter que esperar.</p>
                <p>O download para quem for participar do <b>acesso antecipado</b> entre os dias 17 e 20 de março começa
                    em 15
                    de março às 13h (horário de Brasília). Já o download para o Beta Aberto entre os dias 24 até 27 de
                    março começará em 22 de março às 13h (horário de Brasília).
                </p>
                <p>Durante o teste, você poderá explorar a região coberta de neve das Cimeiras Fraturadas, onde você
                    encontrará Kyovashad, uma área segura nas montanhas, e muitas missões secundárias durante suas
                    jornadas além das missões principais. Não deixe de conferir a missão secundária O Lenhador de Nevesk
                    se você estiver perto do vilarejo de Nevesk.</p>
                <img class="img-fluid" src="./../../assets/diablo/660701.jpg"
                    alt="Masmorra de neve em Diablo 4, jogo de RPG de ação multiplayer da Blizzard Entertainment" width="660" height="399" />
                <p>As masmorras e eventos estão espalhados pelo mundo para aqueles que estão em busca de um desafio. Os
                    eventos de mundo são pequenas instâncias que surgirão aleatoriamente nas regiões e variam desde
                    escoltar
                    uma alma perdida até saciar a sede de obeliscos sanguinários. Os eventos de legião são instâncias
                    maiores que desafiarão você com hordas de demônios. Procure por eles depois de conquistar
                    fortalezas.
                </p>
                <img class="img-fluid" src="./../../assets/diablo/660702.jpg"
                    alt="Batalha em masmorra de Diablo 4, o novo jogo de RPG de ação multiplayer da Blizzard Entertainment" width="660" height="399" />
                <p>Ashava, a Chefe do Mundo do acesso antecipado e do Beta Aberto, emerge das Cimeiras Fraturadas para
                    espalhar pragas e destroçar carnes. Reúna alguns amigos para desafiá-la em 18 e 25 de março às 14h e
                    16h e 19 e 26 de março às 2h e 4h (horário de Brasília).</p>
                <img class="img-fluid" src="./../../assets/diablo/660703.jpg"
                    alt="Chefe final de beta aberto de Diablo 4, o novo jogo de RPG de ação multiplayer da Blizzard Entertainment" width="660" height="399" />
            </div>

        </div>
    </div>
</article>